@import './constants.css';
#menu{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;

    #categories{
        padding-left: 0;
        list-style: none;
        

        h1{
            color: var(--primary_blue);
            margin: 0;
        }
    }

    .product-selecton{
        display: flex;
        flex-direction: column;
        
        .navigation-tab{
            display: flex;
            flex-direction: row;
            gap: 20px;
            a{
                color: var(--dark_teal_text);
                text-decoration: none;
            }

        }

        #product-list{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);

            gap: 20px;
            .product-card{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 300px;
                padding: 15px;
                border-radius: 10px;
                background-color: #ECEDE9;
                position: relative;
                
                .add-to-favorite path{
                    cursor: pointer;
                    fill: none !important;
                    transition: all 1s ease;
                    stroke: var(--primary_blue);
                }
                .add-to-favorite:hover path:hover{
                    fill: var(--accent_orange);
                    stroke: var(--accent_orange);

                    
                }

                .product-image{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }

                .details-container{

                    .product-name{
                        font-size: 1.2rem;
                        font-weight: 700;
                        line-height: 1.2;
                        color: var(--primary_blue);
                    }

                    .price-add{
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        
                        .price{
                            font-size: 1.4rem;
                            font-weight: 700;
                            color: var(--text_dark_teal);
                        }
                        .add-to-cart{
                            cursor: pointer;
                            background-color: var(--text_dark_teal);
                            padding: 0px 15px;
                            border-radius: 15px;
                            border: none;
                            
                            .add{
                                color: var(--primary_white);
                            }
                        }
                    }
                }
            }
        }
    }
}