@import 'constants.css';

#container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vh;
    margin: 0;
}

#banner{
    font-family: var(--primary_font);
    background-color: var(--primary_blue);
    display: flex;
    flex-direction: column;
    padding: 12px;
    #logo{
        display: flex;
        flex-direction: row;
        color: var(--primary_white);
        margin-left: 10vh
    }
    #tagline{
        width: 40vh;
        margin: 20vh 20vh 20vh 10vh;

        font-weight: 500;
        font-size: 24px;
        color: var(--primary_white);
    }
}


#credentials{
    font-family: var(--primary_font);
    padding-top: 24px;
    padding-left: 24px;

    #main-page{
        font-size: 12px;
        a{
            text-decoration: none;
            color: var(--text_dark_teal);    
        }
        
    }
    input[type=text]{
        padding: 12px 20px;
        border: 2px solid black;
    }
    #main-form{
        
        margin-left: 15vh;
        padding: 15vh;
        width: 50vh;
        color: var(--text_dark_teal);
        #form-msg{
            color: var(--primary_blue);
            margin-bottom: 12px;
            font-size: 48px;
            font-weight: 1000;
        }
        .full-name{
            display: flex;
            flex-direction: row;
            .name-textbox{
                border-radius: 6px;
                border: gray 1px solid;
                width: 20vh;
                margin-bottom: 12px;
            }
        }
        .textbox{
            border-radius: 6px;
            border: gray 1px solid;
            margin-bottom: 12px;
            width: 90.5%;
        }
        #create-button{
            width: 50.5vh;
            height: 48px;

            background-color: var(--primary_blue);
            color: var(--primary_white);
            font-size: 16px;
            font-weight: 700;

            border: 0px;
            border-radius: 12px;
        }
        
    }
    #copyright{
        color: var(--text_dark_teal)
    }
    
}
