@import 'constants.css';

main{
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-content: space-between;
    gap: 20px;
    min-height: 100vh;
    #cart{
        align-self: flex-start;
        font-family: var(--primary_font);
        margin-bottom: 50px;

        h1{
            color: var(--primary_blue);
        }

        .item{
            display: grid;
            grid-template-columns: 30px 225px 1fr;
            column-gap: 20px;
            padding: 24px;
            align-items: center;

            input[type="checkbox"]{
                width: 20px;
                height: 20px;
            }
            .img-box{
                background-color: #ECEDE9;
                position: relative;
                height: 100%;
                border-radius: 20px;

                img{
                    width: 200px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .product-description{
                width: 75%;

                h1{
                    font-size: 40px;
                    color: var(--primary_blue);
                    margin: 10px 0 10px 0;
                }
                h3{
                    font-size: 30px;
                    color: var(--text_dark_teal);
                    margin: 10px 0 10px 0;
                }
                p{
                    text-align: justify;
                }
                .quantity-container{
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                }
                .quantity-design{
                    background-color: var(--primary_blue);
                    color: var(--primary_white);
                    font-size: 1.2rem;
                    font-weight: 600;
                    border-radius: 20px;
                    width: 150px;
                    display: flex;
                    justify-content: space-around;
                    padding: 5px 10px 5px 10px;

                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
    #payment{
        align-self: flex-start;
        /* width: 40vh; */
        height: auto;
        padding: 20px 24px;
        /* margin-left: 10vh; */
        background-color: gainsboro;
        border-radius: 12px;
        font-family: var(--primary_font);
        color: var(--primary_blue);

        h3, h2, h1{
            margin: 0;
        }
        .black{
            color: var(--text_dark_teal);
        }
        .payment-div{
            display: flex;
            justify-content: space-between;
        }
        #checkout{
            background-color: var(--primary_blue);
            color: var(--primary_white);
            font-size: 1.5rem;
            font-weight: 600;
            width: 100%;
            margin-top: 20px;
            padding: 10px 0;
            border-radius: 24px;
            border: none;
            cursor: pointer;
        }
    }
    #remove{
        display: none;
        position: fixed;
        background-color: var(--accent_orange);
        border-radius: 30px;
        height: 80px;
        width: 300px;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: inherit;
        justify-content: center;
        align-items: center;
        color: var(--primary_white);
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }
}

@media(max-width: 850px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        #payment{
            order: 1;
        }
        #cart{
            order: 2;
        }
        #remove-items{
            order: 3;
        }
    }
}