@import './constants.css';


main{
    display: grid;
    grid-template-columns: 200px 1fr;

    section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            font-size: 1.8rem;
            color: var(--primary_blue);
            margin: 0;
        }
        
        #feedback-list{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .feedback-card{
                background-color: #ECEDE9;
                border-radius: 15px;
                width: 100%;            
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .user-rating-container{
                    display: grid;
                    grid-template-columns: 1fr 300px;
                    justify-content: space-between;

                    .user-profile{
                        display: flex;
                        align-items: center;

                        img{
                            width: 50px;
                            margin-right: 10px;
                        }

                        .name-email{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            color: var(--primary_blue);
                        }
                        
                        h2, p{
                            margin: 0;
                        }

                        p{
                            color: var(--text_dark_teal);
                            font-weight: 700;
                            font-size: 1rem;
                        }
                        span{
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                    }
                    .rating{
                        display: flex;
                        justify-content: end;
                        gap: 10px;
                        color: #FCC900;

                        h3{
                            margin: 0;
                        }

                        .star-container{

                            .star{
                                fill: #FCC900;
                                path{
                                    stroke: #FCC900;
                                }
                            }
                        }
                        
                    }
                }



            }
        }
    }
}
