@import './constants.css';

nav{
    height: 6.50rem;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        a{
            text-decoration: none;
            color: var(--primary_blue);
        }
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-family: var(--secondary_font);
            font-size: 2.2rem;
            color: var(--primary_blue);
            span{
                color: var(--accent_orange);
            }
        }
        .menu-icons{
            display: flex;
            align-items: center;
            gap: 15px;
            font-family: var(--primary_font);
            font-weight: 500;
            a{
                text-decoration: none;
                color: var(--text_dark_teal);
            }
        }

        .search-wrapper{
            position: relative;
            .search-icon{
                position: absolute;
                top: 15%;
                left: 8px;
            }
            .search{
                padding-top: 12px;
                padding-left: 48px;
                padding-bottom: 12px;
                width: 280px;
                border-radius: 8px;
                border: none;
                background-color: #ECEDE9;
                font-family: var(--primary_font);
                font-weight: 600;
            }
            

        }
        
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .log-in, .sign-up{
            cursor: pointer;
            padding: 5px 18px;
            border-radius: 100px;
            font-family: var(--primary_font);
            font-weight: 700;
            font-size: 0.9rem;
        }

        .log-in{
            color: var(--primary_blue);
            background-color: var(--primary_white);
            border: 1px solid var(--text_dark_teal);
        }

        .log-in:hover{
            background-color: #ececdd;
            transition: all 0.5s ease;
        }

        .sign-up{
            color: var(--primary_white);
            background-color: var(--primary_blue);
            border: none;
        }

        .sign-up:hover{
            background-color: #2e5ac9;
            transition: all 0.5s ease;

        }

        a{
            text-decoration: none;
            color: var(--text_dark_teal);
            font-family: var(--primary_font);
            font-weight: 700;

            .menu-icon{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                img{
                    width: 32px;
                }

                span{
                    font-size: 0.8rem;
                }
            }
        }

        
    }
}

#admin-nav{
    display: block;
    width: 100%;
    margin-top: 50px;

    #nav-container{
        display: flex;
        flex-direction: column;
        
        h1{
            color: var(--primary_blue);
            font-weight: 1000;
        }
        h3 a{
            color: black;
            text-decoration: none;
        }
    }
}

footer{
    height: 19.63rem;
    background-color: var(--primary_blue);
    position: relative;

    .jeb{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        user-select: none;
        pointer-events: none;
    }
    .footer-container{
        z-index: 2;
        width: 90vw;
        margin: auto;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
        .details{
            
            h1{
                font-family: var(--secondary_font);
                color: var(--primary_white);
                font-size: 4.7rem;
                margin: 15px 0 0 ;
            }
            span{
                color: var(--accent_orange);
            }
            .contact{
                color: #B2C0D4;
                font-weight: 500;
                display: flex;
                flex-direction: row;
                align-items:flex-start;
                gap: 5px;
                
            }
        }

        .icon-copyright{
            color: var(--primary_white);
            font-weight: 400;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}