@import './constants.css';

.productHighlight{
    color: var(--primary_blue);
}

.feedbackHighlight, .userHighlight, .ordersHighlight{
    color: var(--text_dark_teal);
}

main{
    display: grid;
    grid-template-columns: 200px 1fr;

    section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            color: var(--primary_blue);
            font-weight: 1000;
            font-size: 30px;
            margin: 0;
        }
    }
}

.heading-container{
    display: flex;
    justify-content: space-between;
    
    .create-product{
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        p{
            margin: 0;
            color: var(--accent_orange);
            font-size: 1rem;
            font-weight: 600;
        }
    }
}

#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 280px); */
    margin-bottom: 40px;
    gap: 20px;
    .product-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        border-radius: 10px;
        background-color: #ECEDE9;
        position: relative;
        
        .out-of-stock-container{
            position: absolute;
            padding: 10px;
            top: 0;
            right: 0;
            display: flex;
            gap: 5px;
            color: var(--accent_orange);

            input{
                cursor: pointer;
            }
        }

        .image-container{
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                user-select: none;
                pointer-events: none;
                width: 170%;
            }
        }

        .details-container{

            .product-name{
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 1.2;
                color: var(--primary_blue);
            }

            .price-add{
                display: flex;
                justify-content: space-between;
                align-items: end;
                
                .price{
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: var(--text_dark_teal);
                }
                .edit{
                    cursor: pointer;
                    background-color: var(--primary_blue);
                    padding: 5px 20px;
                    font-size: 1rem;
                    font-weight: 600;
                    border: none;
                    border-radius: 6px;
                    color: var(--primary_white);
                }
            }
        }
        
        
    }


    
}