@import './constants.css';
#menu{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;

    #categories{
        padding-left: 0;
        list-style: none;
        

        h1{
            color: var(--primary_blue);
            margin: 0;
        }
    }

    .product-selecton{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .navigation-tab{
            display: flex;
            flex-direction: row;
            gap: 20px;
            a{
                color: var(--dark_teal_text);
                text-decoration: none;
                font-size: 1.1rem;
                font-weight: 300;
            }

        }

        #product-list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            /* grid-template-rows: repeat(auto-fit, 280px); */
            margin-bottom: 40px;
            gap: 20px;
            .product-card{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;
                border-radius: 10px;
                background-color: #ECEDE9;
                position: relative;
                
                .favorite-icon{
                    position: absolute;
                    padding: 10px;
                    top: 0;
                    right: 0;
                   
                    path{
                        fill: none ;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        stroke: var(--primary_blue);
                    }
                 
                    path:hover{
                        fill: var(--accent_orange);
                        stroke: var(--accent_orange);
    
                    }
                }
                



                .image-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img{
                        user-select: none;
                        pointer-events: none;
                        width: 170%;
                    }
                }

                .details-container{

                    .product-name{
                        font-size: 1.1rem;
                        font-weight: 600;
                        line-height: 1.2;
                        color: var(--primary_blue);
                    }

                    .price-add{
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                        
                        .price{
                            font-size: 1.2rem;
                            font-weight: 700;
                            color: var(--text_dark_teal);
                        }
                        .add-to-cart{
                            cursor: pointer;
                            background-color: var(--text_dark_teal);
                            padding: 0px 15px;
                            border-radius: 15px;
                            border: none;
                            
                            .add{
                                color: var(--primary_white);
                            }
                        }
                    }
                }
            }
        }
    }
}