@import './constants.css';

.ordersHighlight{
    color: var(--primary_blue);
}

.productHighlight, .feedbackHighlight, .userHighlight{
    color: var(--text_dark_teal);
}

a{
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: 200px 1fr;
    section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            color: var(--primary_blue);
            font-weight: 1000;
            font-size: 30px;
            margin: 0;
        }

        .order-nav{
            display: flex;
            gap: 10px;
            cursor: pointer;
        }

        #pending-list, #accepted-list, #completed-list{
            margin-top: 20px;

            .order-card{
                width: 100%;
                
                .order-num{
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 700;
                }

                .card-background{
                    background-color: #ECEDE9;
                    padding: 15px;
                    border-radius: 12px;
                    box-sizing: border-box;
                    margin-bottom: 16px;
                    .heading{
                        display: flex;
                        justify-content: space-between;
                        gap: 5px;
                        .name{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: var(--primary_blue);
                            h2{
                                margin: 0;
                            }
                            h3{
                                margin: 0;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                        }

                        .status-dropdown{
                            position: relative;
                            .dropdown-toggle{
                                cursor: pointer;
                                padding: 5px 20px;
                                text-align: center;
                            }

                            .dropdown-menu{
                                position: absolute;
                                top: 100%;
                                left: 0;
                                margin-top: 4px;
                                padding: 0;
                                list-style: none;
                                display: none;
                                z-index: 4;
                                text-align: center;
                                background-color: var(--primary_white);
                                border: 1px solid var(--text_dark_teal);
                                border-radius: 20px;
                                li{
                                    padding: 10px;
                                    cursor: pointer;

                                }
                               

                                
                            }

                            .dropdown-toggle{
                                width: 100px;
                                padding: 5px 20px;
                                background-color: #ECEDE9;
                                border: 1px solid var(--text_dark_teal);
                                border-radius: 12px;
                                color: var(--text_dark_teal);
                                font-weight: 700;
                            }
                            .show{
                                display: block;
                            }
                            
                        }
                    }
    
                    .address{
                        margin-bottom: 10px;
                        width: 80%;
                        color: var(--text_dark_teal);
    
                    }
    
                    .product-list{
                        display: grid;
                        grid-template-columns: 30px 1fr 50px;
                        align-items: center;
    
                        .quantity{
                            color: var(--primary_blue);
                            font-size: 1.2rem;
                            font-weight: 700;
                        }
    
                        .product-name{
                            font-weight: 600;
                            color: var(--text_dark_teal);
    
                        }
    
                        .product-price{
                            color: var(--primary_blue);
                            font-size: 1.2rem;
                            font-weight: 700;
                        }
                    }
    
                    .total{
                        display: flex;
                        gap: 20px;
                        justify-content: flex-end;
                        align-items: center;
                        margin-bottom: 10px;
    
                        h2{
                            margin: 0;
                            color: var(--primary_blue);
                        }
    
                        h3{
                            margin: 0;
                            color: var(--text_dark_teal);
                        }
    
                    }
    
                    .button-container{
                        display: flex;
                        justify-content: flex-end;
                        gap: 10px;
    
                        .reject{
                            cursor: pointer;
                            background-color: var(--accent_orange);
                            color: var(--primary_white);
                            border: none;
                            border-radius: 6px;
                            font-size: 1.1rem;
                            padding: 5px 20px;
                            font-weight: 600;
                        }
    
                        .submit{
                            cursor: pointer;
                            color: var(--primary_white);
                            background-color: #0ada48;
                            border: none;
                            border-radius: 6px;
                            font-size: 1.1rem;
                            padding: 5px 20px;
                            font-weight: 600;
                            
                        }

                        .cancel{
                            cursor: pointer;
                            color: var(--text_dark_teal);
                            background-color: #ECEDE9;
                            border: 1px solid var(--text_dark_teal);
                            border-radius: 6px;
                            font-size: 1.1rem;
                            padding: 5px 20px;
                            font-weight: 600;
                        }
                    }
                }

            }
        }
       
        #pending-list, #completed-list, #accepted-list{
            display: none;
        }
        #pending-list.active, #completed-list.active, #accepted-list.active{
            display: block;
        }

       .tab-item{
            font-size: 1.2rem;
        }
        .tab-item.active{
            color: var(--primary_blue);
            font-weight: 600;
        }
    }

}
