@import 'constants.css';

body{
    background-color: var(--primary_white);
}

#status{
    color: var(--primary_blue);

    #status_bar{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
        hr{
            width: 20%;
            height:50%;
        }
        .icon_status{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: black;
            
            p{
                margin: 0;
                font-weight: 600;
            }
            img{
                max-width: 24px;
                max-height: 24px;
            }
            
        }
    }
}

#summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary_blue);

    #order-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 200px;
        background-color: #D9D9D9;
        border-radius: 16px;
        padding: 20px;

        #no-order{
            align-self: center;
            margin: auto 0;
            font-size: 30px;
            font-weight: 600;
        }
        .order-card{
            display: grid;
            grid-template-columns: 200px 1fr;
            background-color: #ECEDE9;
            border-radius: 12px;
            gap: 10px;
            .image-container{
                position: relative;

                .product-iamge{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 200px;
                }
            }

            .details-container{
                display: flex;
                flex-direction: column;
                padding: 20px;


                .name{
                    margin: 0;
                }
                .description{
                    color: var(--text_dark_teal);
                    margin: 0;
                }

                .quantity-product{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;

                    .quantity{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    .product{
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                }
            }
            
        }
   }

    #summary_total{
        color:black;
        align-self: flex-end;
    }
}