@import './constants.css';

main{
    display: grid;
    grid-template-columns: 200px 1fr;
    section{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            font-size: 1.8rem;
            color: var(--primary_blue);
            margin: 0;
        }
        .user-card{
            background-color: #e0e0de;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 50px 1fr 200px;
            align-items: center;
            padding: 20px;
            gap: 20px;

            img{
                width: 50px;
            }
            #user-info{
                align-self: flex-start;

                h2, p{
                    margin: 0;
                }

                span{
                    font-weight: 500;
                    font-size: 1.2rem;
                }

                #name-email{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: var(--primary_blue);
                }
                p{
                    font-size: 20px;
                }
            }
            #remove-button{
                display: flex;
                justify-content: center;
                button{
                    background-color: var(--accent_orange);
                    color: var(--primary_white);
                    font-weight: 700;
                    font-size: 1rem;
                    padding: 5px 20px;
                    border: none;
                    border-radius: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}